<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135699466832-bkc5d39sh3n5rjmq0t5mdas2fq0i26h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135699466832-bkc5d39sh3n5rjmq0t5mdas2fq0i26h3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>135699466832-e9q4dsl78ll8vmm1avkp8k8f45bk3bu7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwLGYDJ4ZO3C9NYKg4tOc2sIyKWp37Eqo</string>
	<key>GCM_SENDER_ID</key>
	<string>135699466832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.App.LogistExDriver</string>
	<key>PROJECT_ID</key>
	<string>logisex-64ebd</string>
	<key>STORAGE_BUCKET</key>
	<string>logisex-64ebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135699466832:ios:6bb9931a1a595eff371f55</string>
	<key>DATABASE_URL</key>
	<string>https://logisex-64ebd.firebaseio.com</string>
</dict>
</plist>